# DISTRIB09 Initialize 2314 WRK14B on 193
stop                                   # Halt CPU, required for IPL
devinit 280 tape/k360n-ma108a.aws ro   # mount DOS/360 distrib vol 1 read-only
ipl 280                                # IPL init disk
devinit 00c jcl/distrib09.jcl          # initialize WRK14B