# DISTRIB03 restore distribution tape one to RES11A and RES11B
stopall                         # Halt CPU, required for IPL
#      No rewind; need tape positioned following initialize program
iplc 280                        # IPL next program on tape-restore disk
devinit 00c jcl/distrib03.jcl   # Restore RES11A and RES11B
